.form__button-register {
    margin-top: 71px;
}

.form__input-error {
    color: #FF4062;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
}

.form__input-reg {
    margin-bottom: 10px;
}

@media screen and (max-width: 767.5px) {
    .form__button-register {
        margin-top: 157px;
    }
}